<footer id="footer" class="color color-primary mt-0 pt-5 pb-5">
    <div class="container">
        <div class="row pt-3 pb-3">
            <div class="col-lg-3 mb-0">
                <img alt="Porto" class="img-fluid logo" style="max-width: 245px;" src="img/demos/hotel/logo-hotel-white.png">
            </div>
            <div class="col-lg-5 mb-0">
                <div class="footer-info">
                    <i class="icon-location-pin icons"></i>
                    <label>ENDEREÇO</label>
                    <strong><a href="/localizacao">Rua Itapemirim, 30, Praia de Itaparica, Vila Velha/ES, CEP: 29102-090</a></strong>
                </div>
            </div>
            <div class="col-lg-2 mb-0">
                <div class="footer-info">
                    <i class="icon-phone icons"></i>
                    <label>FALE CONOSCO</label>
                    <strong>(27) 3320-4000</strong>
                </div>
            </div>
            <div class="col-lg-2 mb-0">
                <div class="footer-info">
                    <i class="icon-bubble icons"></i>
                    <label>WHATS APP</label>
                    <a href="https://wa.me/552733204000" target="_blank"><strong>(27) 3320-4000</strong></a>
                </div>
            </div>
        </div>
    </div>
</footer>