
	<footer id="footer" class="color color-primary mt-0 pt-5 pb-5">
            <div class="container">
                <div class="row pt-3 pb-3">
                    <div class="col-lg-3 mb-0">
                        <img alt="Porto" class="img-fluid logo" style="max-width: 145px;" src="img/demos/hotel/logo-hotel-footer.png">
                    </div>
                    <div class="col-lg-3 mb-0">
                        <div class="footer-info">
                            <i class="icon-location-pin icons"></i>
                            <label>endereço</label>
                            <strong>Rua Itapemirim, nº 30, Vila Velha</strong>
                        </div>
                    </div>
                    <div class="col-lg-2 mb-0">
                        <div class="footer-info">
                            <i class="icon-phone icons"></i>
                            <label>fale conosco</label>
                            <strong>(27) 1234-5678</strong>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-0">
                        <div class="footer-info">
                            <i class="icon-share icons"></i>
                            <label>redes sociais</label>
                            <ul class="social-icons">
                                <li class="social-icons-instagram"><a href="http://www.instagram.com/" target="_blank" title="Instagram"><i class="fab fa-instagram"></i> Instagram</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
