<div class="footer-copyright">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <nav id="sub-menu" data-plift="widget?type=Menu;selector=li">
                    <ul>
                        <li>
                            <a>Home</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-6 text-right">
                <p>
                    © 2018 - Itaparica Praia Hotel
                    &nbsp;&nbsp;&nbsp; 
                    <a href="http://www.kreato.com.br" title="Kreato Websites Profissionais" target="_blank">
                        <img src="/img/credit-white.svg" alt="">
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>