<x-meta layout="default" title="Fotos" menu_index="1" />


<section class="page-header section section-primary section-no-border section-center page-header-custom-background m-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="font-weight-bold text-light text-uppercase">Fotos</h1>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <x-gallery name="fotos">
        <div class="row">
            <div class="col-md-4 media-item">
                <img alt="" data-width="800" data-height="600" class="media-image">
            </div>
        </div>
        
    </x-gallery>
</div>