<!DOCTYPE html>
<html class="boxed">

<head>

	<!-- Basic -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>Itaparica Praia Hotel</title>

	<meta name="keywords" content="Praia, Hotel, Itaparica, Vila Velha" />
	<meta name="description" content="Hotel com ótima localização na Praia de Itaparica, Vila Velha/ES. Possui amplos e confortáveis apartamentos com tv a cabo, wi-fi, telefone, frigobar, ar condicionado e excelente vista para o mar.">

	<!-- Favicon -->
	<link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />

	<!-- Mobile Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

	<!-- Web Fonts  -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light" rel="stylesheet"
	 type="text/css">

	<!-- Vendor CSS -->
	<link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/vendor/font-awesome/css/fontawesome-all.min.css">
	<link rel="stylesheet" href="/vendor/animate/animate.min.css">
	<link rel="stylesheet" href="/vendor/simple-line-icons/css/simple-line-icons.min.css">
	<link rel="stylesheet" href="/vendor/owl.carousel/assets/owl.carousel.min.css">
	<link rel="stylesheet" href="/vendor/owl.carousel/assets/owl.theme.default.min.css">
	<link rel="stylesheet" href="/vendor/magnific-popup/magnific-popup.min.css">
	<link rel="stylesheet" href="/vendor/bootstrap-datepicker/css/bootstrap-datepicker3.css">

	<!-- Theme CSS -->
	<link rel="stylesheet" href="/css/theme.css">
	<link rel="stylesheet" href="/css/theme-elements.css">
	<link rel="stylesheet" href="/css/theme-blog.css">
	<link rel="stylesheet" href="/css/theme-shop.css">

	<!-- Current Page CSS -->
	<link rel="stylesheet" href="/vendor/rs-plugin/css/settings.css">
	<link rel="stylesheet" href="/vendor/rs-plugin/css/layers.css">
	<link rel="stylesheet" href="/vendor/rs-plugin/css/navigation.css">

	<!-- Demo CSS -->
	<link rel="stylesheet" href="/css/demos/demo-hotel.css">

	<!-- Skin CSS -->
	<link rel="stylesheet" href="/css/skins/skin-hotel.css">

	<!-- Theme Custom CSS -->
	<link rel="stylesheet" href="/css/custom.css">

	<!-- Head Libs -->
	<script src="/vendor/modernizr/modernizr.min.js"></script>

</head>

<body>

	<div class="header-top-custom">
		<div class="container">
			<div class="row">
				<div class="col-md-9 col-address">
					<i class="icon-location-pin icons text-color-primary"></i>
					<label>ENDEREÇO</label>
					<strong>Rua Itapemirim 30, Praia de Itaparica, Vila Velha/ES</strong>
				</div>
				<div class="col-md-3 col-phone">
					<i class="icon-phone icons text-color-primary"></i>
					<label>CONTATO / RESERVAS</label>
					<strong>(27) 3320-4000</strong>
				</div>
				<!-- <div class="col-md-3 col-share">
					<i class="icon-share icons text-color-primary"></i>
					<label>redes sociais</label>
					<ul class="social-icons">
						<li class="social-icons-instagram"><a href="http://www.instagram.com/" target="_blank" title="Instagram"><i class="fab fa-instagram"></i>
							<span>Instagram</span></a>
						</li>
					</ul>
				</div> -->
			</div>
		</div>
	</div>

	<div class="body">

		<x-include name="header" />

		<div role="main" class="main" id="content">
		</div>

		<x-include name="footer" />
	</div>

	<x-include name="footer-copy" />

	<!-- Vendor -->
	<script src="/vendor/jquery/jquery.min.js"></script>
	<script src="/vendor/jquery.appear/jquery.appear.min.js"></script>
	<script src="/vendor/jquery.easing/jquery.easing.min.js"></script>
	<script src="/vendor/jquery-cookie/jquery-cookie.min.js"></script>
	<script src="/vendor/popper/umd/popper.min.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="/vendor/common/common.min.js"></script>
	<script src="/vendor/jquery.validation/jquery.validation.min.js"></script>
	<script src="/vendor/jquery.easy-pie-chart/jquery.easy-pie-chart.min.js"></script>
	<script src="/vendor/jquery.gmap/jquery.gmap.min.js"></script>
	<script src="/vendor/jquery.lazyload/jquery.lazyload.min.js"></script>
	<script src="/vendor/isotope/jquery.isotope.min.js"></script>
	<script src="/vendor/owl.carousel/owl.carousel.min.js"></script>
	<script src="/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
	<script src="/vendor/vide/vide.min.js"></script>
	<script src="/vendor/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>

	<!-- Theme Base, Components and Settings -->
	<script src="js/theme.js"></script>

	<!-- Current Page Vendor and Views -->
	<script src="/vendor/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
	<script src="/vendor/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>

	<!-- Current Page Vendor and Views -->
	<script src="js/views/view.contact.js"></script>

	<!-- Demo -->
	<script src="js/demos/demo-hotel.js"></script>

	<!-- Theme Custom -->
	<script src="js/custom.js"></script>

	<!-- Theme Initialization Files -->
	<script src="js/theme.init.js"></script>




</body>

</html>